

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 mb-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <strong class="text-center">Sign Up Form</strong>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <!-- <div class="form-group">
              <label for="userName">User Name*:-</label>
              <input type="text" class="form-control" formControlName="userName" id="userName">
            </div>
            <div class="form-group">
              <label for="email">Email Id*:-</label>
              <input type="text" class="form-control" formControlName="email" id="email">
            </div> -->

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="User Name" formControlName="userName" id="userName">

              <mat-error class="text-danger"
                *ngIf="sc['userName'].invalid && sc['userName'].touched && 
                        sc['userName'].hasError('required')">
                    User Name is <strong>required !!!</strong>
              </mat-error>

              <ng-container *ngIf="sc['userName'].dirty">
                <mat-error class="text-danger"
                  *ngIf="sc['userName'].hasError('minlength')">
                    Minimum length of User Name should be {{sc['userName'].errors?.['minlength'].requiredLength}}
                    and actual length is {{sc['userName'].errors?.['minlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                  *ngIf="sc['userName'].hasError('maxlength')">
                    Maximum length of User Name should be {{sc['userName'].errors?.['maxlength'].requiredLength}}
                    and actual length is {{sc['userName'].errors?.['maxlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger" 
                       *ngIf="sc['userName'].hasError('pattern')">
                          User Name should not includes Special Char. & number!!!
                 </mat-error>
                 <!-- <span class="text-danger" 
                       *ngIf="sc['userName'].hasError('NoSpaceBar')">
                          {{getUserName.errors?.['noSpaceBar']}}
                 </span> -->
              </ng-container>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Mobile Number </mat-label>
              <span matPrefix>+1 &nbsp;</span>
              <input  matInput type="tel" placeholder="555-555-1234" formControlName="mobile">

              <mat-error class="text-danger"
                *ngIf="sc['mobile'].invalid && sc['mobile'].touched && 
                        sc['mobile'].hasError('required')">
                        Mobile number is <strong>required</strong>
              </mat-error>
               
              <ng-container *ngIf="sc['mobile'].dirty">
                <mat-error class="text-danger"
                  *ngIf="sc['mobile'].hasError('minlength')">
                    Minimum length of Mobile number should be {{sc['mobile'].errors?.['minlength'].requiredLength}}
                    and actual length is {{sc['mobile'].errors?.['minlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                  *ngIf="sc['mobile'].hasError('maxlength')">
                    Maximum length of Mobile number should be {{sc['mobile'].errors?.['maxlength'].requiredLength}}
                    and actual length is {{sc['mobile'].errors?.['maxlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger" 
                       *ngIf="sc['mobile'].hasError('pattern')">
                      Invalid Mobile Number
                 </mat-error>
              </ng-container>

            </mat-form-field>

            <mat-form-field class="example-full-width mb-2" appearance="outline">
              <mat-label>Email Id</mat-label>
              <input matInput placeholder="Email" formControlName="email" id="email">

              <mat-hint>use like : demo@demo.com</mat-hint>

              <mat-error class="text-danger"
                  *ngIf="sc['email'].touched && sc['email'].hasError('required')">
                      Email is <strong>required</strong>
              </mat-error>

              <mat-error class="text-danger"
              *ngIf="sc['email'].dirty && sc['email'].hasError('pattern')">
                  Please enter a valid email address
              </mat-error>

            </mat-form-field>

            <div class="spinner-border text-danger" role="status" *ngIf="sc['email'].pending">
              <span class="sr-only">Loading...</span>
            </div>

            <mat-error class="text-success" *ngIf="sc['email'].valid">
              Email Id is Valid
            </mat-error>

            <mat-error class="text-danger"
            *ngIf="sc['email'].dirty && sc['email'].hasError('emailExist')">
                 {{getEmail.errors?.['emailExist']}}
            </mat-error>
            
            <!-- <mat-spinner class="spinner element.style"></mat-spinner>  -->
           <!-- <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email"
                     placeholder="Ex. pat@example.com">

              <mat-hint>Errors appear instantly!</mat-hint>

              <mat-error *ngIf="sc['email'].hasError('email') && sc['email'].hasError('pattern')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="sc['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field> -->

            <mat-form-field class="example-full-width mb-2" appearance="outline">
              <mat-label>Employed ID</mat-label>
              <input matInput placeholder="E289" formControlName="empID" id="empID">

              <mat-error class="text-danger"
                *ngIf="sc['empID'].invalid && sc['empID'].touched && 
                        sc['empID'].hasError('required')">
                    User Name is <strong>required !!!</strong>
              </mat-error>

              <mat-error class="text-danger"
                  *ngIf="sc['empID'].dirty && 
                      sc['empID'].hasError('inValidEmpId')">
                  {{getEmpID.errors?.['inValidEmpId']}}
              </mat-error>
            </mat-form-field>
            
            <div class="mb-3">
              <mat-label class="mr-3"><h6>Gender:-</h6></mat-label>
              <mat-radio-group formControlName="gender">
                <ng-container *ngFor="let gen of genderArr">
                  <mat-radio-button color="primary" [value]="gen">{{gen | titlecase}}</mat-radio-button>&nbsp;
                </ng-container>
                </mat-radio-group>
                <mat-error *ngIf="sc['gender'].invalid && sc['gender'].dirty && sc['gender'].touched">
                  Please select a gender
                </mat-error>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-label><h6>Skills</h6></mat-label>
                <button type="button" mat-stroked-button color="accent" 
                (click)="addskill()"
                *ngIf="skillsArr.length < 5; else noSkills"
                [disabled]="skillsArr.invalid">+ Add another skill</button>
                <ng-template #noSkills>
                    <span class="text-warning">
                      You can add only 5 Skills.
                    </span>
                </ng-template>

                <div class="row mb-2" *ngFor="let skill of skillsArr.controls; let i = index">
                  <div class="col-md-10">
                    <mat-form-field class="example-full-width" appearance="outline" formArrayName="skills">
                      <input matInput [formControlName]="i" id="skill">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 mt-2" *ngIf="i > 0">
                    <button mat-raised-button color="warn" type="button" (click)="onRemove(i)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6" formGroupName="currentaddress">
                <h6>Current Address</h6>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                      <mat-select formControlName="country">
                        <mat-option value="None">None</mat-option>
                        <mat-option *ngFor="let country of CountriesArr" [value]="country">{{country}}</mat-option>
                      </mat-select>

                      <mat-error class="text-danger"
                          *ngIf="sc2['country'].invalid && sc2['country'].touched && 
                              sc2['country'].hasError('required')">
                          
                        Country is <strong>required !!!</strong>
                      </mat-error>

                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput formControlName="state" placeholder="State">

                        <mat-error *ngIf="sc2['state'].invalid && sc2['state'].touched &&
                          sc2['state'].hasError('required')">
                              State is <strong>required !!!</strong>
                        </mat-error>

                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput formControlName="city" placeholder="City">

                        <mat-error class="text-danger"
                            *ngIf="sc2['city'].invalid && sc2['city'].touched &&
                            sc2['city'].hasError('required')">
                                City Name is <strong>required !!!</strong>
                          </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput formControlName="zipCode" placeholder="Zip">
                        

                        <mat-error class="text-danger" 
                          *ngIf="sc2['zipCode'].invalid && sc2['zipCode'].touched
                              && sc2['zipCode'].hasError('required')">
                            Zip code is <strong>required</strong>
                        </mat-error>
    
                  </mat-form-field>
                      <ng-container *ngIf="sc2['zipCode'].dirty">
                        <mat-error class="text-danger"
                          *ngIf="sc2['zipCode'].hasError('minlength')">
                            Minimum length of Zip code should be {{sc2['zipCode'].errors?.['minlength'].requiredLength}}
                            and actual length is {{sc2['zipCode'].errors?.['minlength'].actualLength}}
                        </mat-error>
        
                        <mat-error class="text-danger"
                          *ngIf="sc2['zipCode'].hasError('maxlength')">
                            Maximum length of Zip code should be {{sc2['zipCode'].errors?.['maxlength'].requiredLength}}
                            and actual length is {{sc2['zipCode'].errors?.['maxlength'].actualLength}}
                        </mat-error>
        
                        <mat-error class="text-danger" 
                              *ngIf="sc2['zipCode'].hasError('pattern')">
                              Zip code should not includes Special Char. & number!!!
                        </mat-error>
                      </ng-container>
              </div> 

              <div class="col-md-6" formGroupName="permanentaddress">
                <h6>Permanent Address</h6>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Country</mat-label>
                    <mat-select formControlName="country">
                      <mat-option value="None">None</mat-option>
                      <mat-option *ngFor="let country of CountriesArr" [value]="country">{{country}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput formControlName="state" placeholder="State">
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput formControlName="city" placeholder="City">
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput formControlName="zipCode" placeholder="Zip">
                  </mat-form-field>
              </div>

              <div class="col-md-12">
                <mat-label>
                  <mat-checkbox id="isAddress" formControlName="isAddress">
                    Current address & Permanent address are same.
                  </mat-checkbox>
                </mat-label>
              </div>
            </div>
            
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" id="password"
                  type="password" [type]="showPassword? 'text' : 'password'">
              
              <i class="fas" [ngClass]="{'fa-eye-slash': !showPassword, 'fa-eye': showPassword}"
                  (click)="showPassword = !showPassword"></i>

              <mat-error class="text-danger"
              *ngIf="sc['password'].invalid && sc['password'].touched && 
                      sc['password'].hasError('required')" >
                  Password is <strong>required !!!</strong>
              </mat-error>

              <ng-container *ngIf="sc['password'].dirty">
                <mat-error class="text-danger"
                  *ngIf="sc['password'].hasError('minlength')">
                    Minimum length of Password should be {{sc['password'].errors?.['minlength'].requiredLength}}
                    and actual length is {{sc['password'].errors?.['minlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                  *ngIf="sc['password'].hasError('maxlength')">
                    Maximum length of Password should be {{sc['password'].errors?.['maxlength'].requiredLength}}
                    and actual length is {{sc['password'].errors?.['maxlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger" 
                       *ngIf="sc['password'].hasError('pattern')">
                          Password is Invalid
                 </mat-error>
              </ng-container>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="confirmPassword" id="confirmPassword" type="password" 
                  [type]="showPasswordConfirm? 'text' : 'password'">

              <i class="fas" [ngClass]="{'fa-eye-slash': !showPasswordConfirm, 'fa-eye': showPasswordConfirm}"
               (click)="showPasswordConfirm = !showPasswordConfirm"></i>
              <!-- <button type="button" (click)="toggleShowPassword()">
                <span><i class="fa-regular fa-eye-slash"></i></span>
              </button> -->

              <!-- <button type="button" (click)="showPassword =! showPassword" class="text-rigth">
                <span><i class="fa-regular fa-eye-slash"></i></span>
              </button> -->
            </mat-form-field>
            <mat-error class="text-danger"
              *ngIf="sc['password'].value !== sc['confirmPassword'].value">
              Password and Confirm Password must be same...
            </mat-error>

            <button type="submit" mat-raised-button color="primary" class="btn-block" 
            [disabled]="signUpForm.invalid">Sign Up</button>

            <!-- <button type="submit" mat-raised-button color="primary" class="btn-block" 
            [disabled]="signUpForm.invalid || sc['password'].value !== sc['confirmPassword'].value">Sign Up</button> -->
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    {{signUpForm.getRawValue() | json}}
  </div>
</div>