
.example-full-width {
    width: 100%;
}

.ng-submitted{
    .form-control.ng-invalid{
        border: 1px solid red !important;
    }
}

input[type="password"] {
    position: relative;
}
  
.fas {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-45%);
    cursor: pointer;
    font-size: 20px;
}

